/*
   Monday, 22 December, 20252:29:40 PM
   User: SA
   Server: .\SQLEXPRESS
   Database: PianoLesson
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_Lesson
	(
	Id int NOT NULL IDENTITY (1, 1),
	Name nvarchar(50) NOT NULL,
	Description nvarchar(500) NULL,
	Questions nvarchar(500) NOT NULL,
	Answers nvarchar(500) NOT NULL,
	IsTheoretical bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_Lesson SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_Lesson ON
GO
IF EXISTS(SELECT * FROM dbo.Lesson)
	 EXEC('INSERT INTO dbo.Tmp_Lesson (Id, Name, Description)
		SELECT Id, Name, Description FROM dbo.Lesson WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_Lesson OFF
GO
ALTER TABLE dbo.UserLesson
	DROP CONSTRAINT FK_UserLesson_Lesson1
GO
ALTER TABLE dbo.LessonPrerequisites
	DROP CONSTRAINT FK_LessonPrerequisites_Lesson
GO
DROP TABLE dbo.Lesson
GO
EXECUTE sp_rename N'dbo.Tmp_Lesson', N'Lesson', 'OBJECT' 
GO
ALTER TABLE dbo.Lesson ADD CONSTRAINT
	PK_Lesson PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.LessonPrerequisites ADD CONSTRAINT
	FK_LessonPrerequisites_Lesson FOREIGN KEY
	(
	IdLesson
	) REFERENCES dbo.Lesson
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.LessonPrerequisites SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.UserLesson ADD CONSTRAINT
	FK_UserLesson_Lesson1 FOREIGN KEY
	(
	IdLesson
	) REFERENCES dbo.Lesson
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.UserLesson SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
